{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
    <div class="container" style="margin-top:30px">
    <div class="row">
    <div class="col-md-12" >
    <div class="wrapper text-center p-2">
    <p>Сортировать:</p>
        <div class="btn-group">
        <div class="dropdown">
             <a class="btn btn-primary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Жанр:</a>
                <div class="dropdown-menu" aria-labelledby="">
                    {% for categ in categ %}
                        <a class="dropdown-item" href="{% url 'namecategory' categ.id %}">{{ categ.nameCategory }}</a>
                    {% endfor %}
                </div>
        </div>
        <div class="dropdown">
             <a class="btn btn-primary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Издатель:</a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    {% for publesh in publesh %}
                        <a class="dropdown-item" href="{% url 'namecategory' publesh.id %}">{{ publesh.namePublesher }}</a>
                    {% endfor %}
                </div>
        </div>
        </div>
    </div>

    </div>
    <div class="row">

    {% for book in books %}
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="{% static '/img/134932_3byMBun.jpg' %}" alt="{{ book.category.nameCategory }}">
                <div class="card-body">
                    <h5 class="card-title">Категория: {{book.category.nameCategory}}</h5>
                    <p class="card-text">Издательство: {{book.publesher.namePublesher}}</p>
                    <p class="card-text">Описание: {{book.nameBook}}</p>
                    <p class="card-text">Автор: {{book.fioAuthor}}</p>
                    <p class="card-text">Кол-во стр.:{{book.countPage}}</p>
                    <p class="card-text">Цена: {{book.bookPrice}}</p>
                    <p class="card-text">Кол-во товара на складе: {{book.countBookWarhouse}}</p>
                    <button class="btn"><a href="{% url 'add_cart' book.id %}">в Корзину</a></button>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
{% endblock %}

